<!DOCTYPE html>
<html>
	<head>
		<title>brianjells blog</title>
	</head>
	<body>
	 	<div>
	 	   <h1><a href="">Django Guy Blog
	    </div>
	    <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Everything is almost impossible unless tried, .</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Humbling ourself before the lord so that he may lift us in due time. casting our axiety to him because he cares.</p>
        </div>
    </body>
</html>
